In [2]:
import pandas as pd 
import numpy as np
import os 
from sqlalchemy import create_engine

In [3]:
#using a list of csv, creates a df, assigns a name for each df from a list
# turns it into a dataframe 
#pushes the dataframe to postgres server

In [4]:
companies = ['AA', 'AAPL', 'BA', 'YHOO']

In [5]:
for c in companies:
     exec('{} = pd.DataFrame()'.format(c))

In [8]:
#initalized empty dataframe
AA

Empty DataFrame
Columns: []
Index: []

In [9]:
BA

Empty DataFrame
Columns: []
Index: []

In [10]:
d = {name: pd.DataFrame() for name in companies}

In [11]:
d

{'AA': Empty DataFrame
 Columns: []
 Index: [],
 'AAPL': Empty DataFrame
 Columns: []
 Index: [],
 'BA': Empty DataFrame
 Columns: []
 Index: [],
 'YHOO': Empty DataFrame
 Columns: []
 Index: []}

Use glob to upload all files

In [12]:
import glob

In [13]:
for py in glob.glob("*.py"):
    print(py)

CSV_Upload_src.py

In [36]:
#create list of files 
files = ['do_not_use.csv', 'do_not_use2.csv', 'do_not_use3.csv']
dfs_names = ['df1', 'df2', 'df3']
dfs ={}


def multi_csv(df_names, files):
    for df_names,file in zip(dfs_names, files):
        dfs[dfn] = pd.read_csv(file)
    return dfs

https://stackoverflow.com/questions/48888001/creating-multiple-dataframes-with-a-loop

In [38]:
files = ['do_not_use.csv', 'do_not_use2.csv', 'do_not_use3.csv']
dfs_names = ['df1', 'df2', 'df3']
dfs ={}
for dfs_names,file in zip(dfs_names, files):
    dfs[dfs_names] = pd.read_csv(file)
    print(dfs[dfs_names].shape)
    print(dfs[dfs_names].dtypes)
print(dfs['df3'])

(15307, 5)
Unnamed: 0            int64
Account_No            int64
Month_ID              int64
Product_Category     object
Target              float64
dtype: object
(1145, 9)
Unnamed: 0                int64
 New Account No          object
New Account Name         object
Industry                 object
Sector                   object
Account Segment          object
Account Manager Alias    object
Segment Manager          object
Industry Manager         object
dtype: object
(1145, 9)
Unnamed: 0                int64
 New Account No          object
New Account Name         object
Industry                 object
Sector                   object
Account Segment          object
Account Manager Alias    object
Segment Manager          object
Industry Manager         object
dtype: object
      Unnamed: 0  New Account No        New Account Name  \
0              0           303143            Communities
1              1          1111978              DualLight
2              2          1414111          ReactRegister
3              3          1515106            Iselectrics
4              4          1515140                tismÂ 19
...          ...              ...                    ...
1140        1140        384173130    Sonron Singletechno
1141        1141         66177812  Singletechno Rangreen
1142        1142        165171911       Rangreen J-Texon
1143        1143        170172916      J-Texon Rundofase
1144        1144        340172086       Rundofase Doncon

                   Industry                        Sector  \
0     Libraries and Museums         Libraries and Museums
1                   Banking                       Banking
2                 Retailers           General Merchandise
3           Pharmaceuticals               Pharmaceuticals
4          Higher Education              Higher Education
...                     ...                           ...
1140         Consumer Goods        Wholesale Distribution
1141               Defenses             National Security
1142                 Energy  Electricity and Gas Services
1143                 Energy                        Mining
1144                 Energy                   Oil and Gas

          Account Segment Account Manager Alias Segment Manager  \
0                SMC Comm               BECComs      Matthew L.
1     Priority Commercial               SWIDung      Stelios F.
2     Priority Commercial               UNDRese      Stelios F.
3     Priority Commercial               UNDIsls      Stelios F.
4           SMC Education               UNDmyon         Ben Mk.
...                   ...                   ...             ...
1140            Strategic                  Soon        Bilal G.
1141             SMC Comm                  Sity      Matthew L.
1142        SMC Education                  Raes         Ben Mk.
1143            Strategic                  J-ng        Bilal G.
1144          Priority PS                  Ruas       Andrew I.

     Industry Manager
0            Andre D.
1             Tina Q.
2            Garry N.
3              Rob K.
4             John Y.
...               ...
1140         Maria J.
1141         Melpo Y.
1142         Peter J.
1143         Peter J.
1144         Peter J.

[1145 rows x 9 columns]

In [26]:
for period, df in dfs.items():
    print(df)

       Unnamed: 0  Account_No  Month_ID Product_Category      Target
0               0    99696211       143  Online Products  2984094.12
1               1    99696211       142  Online Products  2839413.36
2               2    99696211       141  Online Products  2305564.80
3               3    99696211       140  Online Products  2234395.80
4               4    99696211       139  Online Products  1750056.00
...           ...         ...       ...              ...         ...
15302       15302    68888109       143          Support        0.84
15303       15303    68888109       140          Support        0.84
15304       15304    68888109       142          Support        0.84
15305       15305    68888109       134          Support        0.84
15306       15306    89393119       143          Support        0.84

[15307 rows x 5 columns]
      Unnamed: 0  New Account No        New Account Name  \
0              0           303143            Communities
1              1          1111978              DualLight
2              2          1414111          ReactRegister
3              3          1515106            Iselectrics
4              4          1515140                tismÂ 19
...          ...              ...                    ...
1140        1140        384173130    Sonron Singletechno
1141        1141         66177812  Singletechno Rangreen
1142        1142        165171911       Rangreen J-Texon
1143        1143        170172916      J-Texon Rundofase
1144        1144        340172086       Rundofase Doncon

                   Industry                        Sector  \
0     Libraries and Museums         Libraries and Museums
1                   Banking                       Banking
2                 Retailers           General Merchandise
3           Pharmaceuticals               Pharmaceuticals
4          Higher Education              Higher Education
...                     ...                           ...
1140         Consumer Goods        Wholesale Distribution
1141               Defenses             National Security
1142                 Energy  Electricity and Gas Services
1143                 Energy                        Mining
1144                 Energy                   Oil and Gas

          Account Segment Account Manager Alias Segment Manager  \
0                SMC Comm               BECComs      Matthew L.
1     Priority Commercial               SWIDung      Stelios F.
2     Priority Commercial               UNDRese      Stelios F.
3     Priority Commercial               UNDIsls      Stelios F.
4           SMC Education               UNDmyon         Ben Mk.
...                   ...                   ...             ...
1140            Strategic                  Soon        Bilal G.
1141             SMC Comm                  Sity      Matthew L.
1142        SMC Education                  Raes         Ben Mk.
1143            Strategic                  J-ng        Bilal G.
1144          Priority PS                  Ruas       Andrew I.

     Industry Manager
0            Andre D.
1             Tina Q.
2            Garry N.
3              Rob K.
4             John Y.
...               ...
1140         Maria J.
1141         Melpo Y.
1142         Peter J.
1143         Peter J.
1144         Peter J.

[1145 rows x 9 columns]
      Unnamed: 0  New Account No        New Account Name  \
0              0           303143            Communities
1              1          1111978              DualLight
2              2          1414111          ReactRegister
3              3          1515106            Iselectrics
4              4          1515140                tismÂ 19
...          ...              ...                    ...
1140        1140        384173130    Sonron Singletechno
1141        1141         66177812  Singletechno Rangreen
1142        1142        165171911       Rangreen J-Texon
1143        1143        170172916      J-Texon Rundofase
1144        1144        340172086       Rundofase Doncon

                   Industry                        Sector  \
0     Libraries and Museums         Libraries and Museums
1                   Banking                       Banking
2                 Retailers           General Merchandise
3           Pharmaceuticals               Pharmaceuticals
4          Higher Education              Higher Education
...                     ...                           ...
1140         Consumer Goods        Wholesale Distribution
1141               Defenses             National Security
1142                 Energy  Electricity and Gas Services
1143                 Energy                        Mining
1144                 Energy                   Oil and Gas

          Account Segment Account Manager Alias Segment Manager  \
0                SMC Comm               BECComs      Matthew L.
1     Priority Commercial               SWIDung      Stelios F.
2     Priority Commercial               UNDRese      Stelios F.
3     Priority Commercial               UNDIsls      Stelios F.
4           SMC Education               UNDmyon         Ben Mk.
...                   ...                   ...             ...
1140            Strategic                  Soon        Bilal G.
1141             SMC Comm                  Sity      Matthew L.
1142        SMC Education                  Raes         Ben Mk.
1143            Strategic                  J-ng        Bilal G.
1144          Priority PS                  Ruas       Andrew I.

     Industry Manager
0            Andre D.
1             Tina Q.
2            Garry N.
3              Rob K.
4             John Y.
...               ...
1140         Maria J.
1141         Melpo Y.
1142         Peter J.
1143         Peter J.
1144         Peter J.

[1145 rows x 9 columns]

In [39]:
df3 =

NameError: name 'df3' is not defined