In [2]:
import pandas as pd 
import numpy as np
import os 
from sqlalchemy import create_engine

In [3]:
df = pd.read_csv("Targets Raw Data.csv", encoding ='latin1')

In [4]:
df

       Account_No  Month_ID Product_Category      Target
0        99696211       143  Online Products  2984094.12
1        99696211       142  Online Products  2839413.36
2        99696211       141  Online Products  2305564.80
3        99696211       140  Online Products  2234395.80
4        99696211       139  Online Products  1750056.00
...           ...       ...              ...         ...
15302    68888109       143          Support        0.84
15303    68888109       140          Support        0.84
15304    68888109       142          Support        0.84
15305    68888109       134          Support        0.84
15306    89393119       143          Support        0.84

[15307 rows x 4 columns]

In [7]:
#change encoding to utf-8. Regular encoding is not needed here. 
df.to_csv('do_not_use.csv', encoding='utf-8')