In [8]:
import pandas as pd 
import numpy as np
import os 
from sqlalchemy import create_engine

In [9]:
df = pd.read_csv("ipi_account_lookup.csv", encoding ='latin1')

In [10]:
df

,New Account No,New Account Name,Industry,Sector,Account Segment,Account Manager Alias,Segment Manager,Industry Manager
0,303143,Communities,Libraries and Museums,Libraries and Museums,SMC Comm,BECComs,Matthew L.,Andre D.
1,1111978,DualLight,Banking,Banking,Priority Commercial,SWIDung,Stelios F.,Tina Q.
2,1414111,ReactRegister,Retailers,General Merchandise,Priority Commercial,UNDRese,Stelios F.,Garry N.
3,1515106,Iselectrics,Pharmaceuticals,Pharmaceuticals,Priority Commercial,UNDIsls,Stelios F.,Rob K.
4,1515140,tism 19,Higher Education,Higher Education,SMC Education,UNDmyon,Ben Mk.,John Y.
...,...,...,...,...,...,...,...,...
1140,384173130,Sonron Singletechno,Consumer Goods,Wholesale Distribution,Strategic,Soon,Bilal G.,Maria J.
1141,66177812,Singletechno Rangreen,Defenses,National Security,SMC Comm,Sity,Matthew L.,Melpo Y.
1142,165171911,Rangreen J-Texon,Energy,Electricity and Gas Services,SMC Education,Raes,Ben Mk.,Peter J.
1143,170172916,J-Texon Rundofase,Energy,Mining,Strategic,J-ng,Bilal G.,Peter J.
1144,340172086,Rundofase Doncon,Energy,Oil and Gas,Priority PS,Ruas,Andrew I.,Peter J.

In [12]:
#change encoding to utf-8. Regular encoding is not needed here. 
df.to_csv('do_not_use3.csv', encoding='utf-8')